<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rocket.q - Criar sala</title>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

        <!-- Link CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/room.css">
        <link rel="stylesheet" href="/css/modal.css">

        <!-- Scripts -->
        <script src="/js/main.js" defer type="module"></script>
    </head>

    <body>
        <div class="content">
            <header class="header">
                <a href="/"><img src="/img/logo-rocketq.svg" alt="Logo da rocket.q"></a>
                
                <div class="group-btns-nav">
                    <button class="btn btn-white" data-id="<%= room %>">
                        #<%= room %>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.6667 7.5H9.16667C8.24619 7.5 7.5 8.24619 7.5 9.16667V16.6667C7.5 17.5871 8.24619 18.3333 9.16667 18.3333H16.6667C17.5871 18.3333 18.3333 17.5871 18.3333 16.6667V9.16667C18.3333 8.24619 17.5871 7.5 16.6667 7.5Z" stroke="#3485FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M4.16675 12.5H3.33341C2.89139 12.5 2.46746 12.3244 2.1549 12.0118C1.84234 11.6992 1.66675 11.2753 1.66675 10.8333V3.33329C1.66675 2.89127 1.84234 2.46734 2.1549 2.15478C2.46746 1.84222 2.89139 1.66663 3.33341 1.66663H10.8334C11.2754 1.66663 11.6994 1.84222 12.0119 2.15478C12.3245 2.46734 12.5001 2.89127 12.5001 3.33329V4.16663" stroke="#3485FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                    <a href="/criar-senha" class="btn">
                        <svg class="icon-users-white" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_10922_601)">
                            <path d="M14.1668 17.5V15.8333C14.1668 14.9493 13.8156 14.1014 13.1905 13.4763C12.5654 12.8512 11.7176 12.5 10.8335 12.5H4.16683C3.28277 12.5 2.43493 12.8512 1.80981 13.4763C1.18469 14.1014 0.833496 14.9493 0.833496 15.8333V17.5" stroke="url(#paint0_linear_10922_601)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.50008 9.16667C9.34103 9.16667 10.8334 7.67428 10.8334 5.83333C10.8334 3.99238 9.34103 2.5 7.50008 2.5C5.65913 2.5 4.16675 3.99238 4.16675 5.83333C4.16675 7.67428 5.65913 9.16667 7.50008 9.16667Z" stroke="url(#paint1_linear_10922_601)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M19.1667 17.5V15.8333C19.1662 15.0948 18.9204 14.3773 18.4679 13.7936C18.0154 13.2099 17.3819 12.793 16.6667 12.6083" stroke="url(#paint2_linear_10922_601)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.3335 2.60833C14.0505 2.79192 14.686 3.20892 15.1399 3.79359C15.5937 4.37827 15.84 5.09736 15.84 5.8375C15.84 6.57764 15.5937 7.29673 15.1399 7.88141C14.686 8.46608 14.0505 8.88308 13.3335 9.06667" stroke="url(#paint3_linear_10922_601)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <linearGradient id="paint0_linear_10922_601" x1="16.7923" y1="4.93616" x2="15.2894" y2="18.9475" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5498FF"/>
                            <stop offset="0.515625" stop-color="#428EFF"/>
                            <stop offset="1" stop-color="#297FFF"/>
                            </linearGradient>
                            <linearGradient id="paint1_linear_10922_601" x1="12.1462" y1="-7.58512" x2="7.14978" y2="9.88245" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5498FF"/>
                            <stop offset="0.515625" stop-color="#428EFF"/>
                            <stop offset="1" stop-color="#297FFF"/>
                            </linearGradient>
                            <linearGradient id="paint2_linear_10922_601" x1="19.659" y1="5.20838" x2="13.7498" y2="15.7666" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5498FF"/>
                            <stop offset="0.515625" stop-color="#428EFF"/>
                            <stop offset="1" stop-color="#297FFF"/>
                            </linearGradient>
                            <linearGradient id="paint3_linear_10922_601" x1="16.3336" y1="-7.16163" x2="7.59076" y2="4.70108" gradientUnits="userSpaceOnUse">
                            <stop stop-color="#5498FF"/>
                            <stop offset="0.515625" stop-color="#428EFF"/>
                            <stop offset="1" stop-color="#297FFF"/>
                            </linearGradient>
                            <clipPath id="clip0_10922_601">
                            <rect width="20" height="20" fill="white"/>
                            </clipPath>
                            </defs>
                        </svg>
                        Criar sala
                    </a>
                </div>
            </header>
        
            <main>
                <div class="container wrapper">

                    <section class="ask-section">
                            <h2>Faça sua pergunta</h2>
                            <form action="/criar-pergunta/<%= room %>" method="post">
                                <label class="sr-only" for="question">O que você quer perguntar?</label>
                                <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                                <div class="footer-question">
                                    <div class="anonymous">
                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.9999 6.66671H14.1666V5.00004C14.1666 2.70004 12.2999 0.833374 9.99992 0.833374C7.69992 0.833374 5.83325 2.70004 5.83325 5.00004V6.66671H4.99992C4.08325 6.66671 3.33325 7.41671 3.33325 8.33337V16.6667C3.33325 17.5834 4.08325 18.3334 4.99992 18.3334H14.9999C15.9166 18.3334 16.6666 17.5834 16.6666 16.6667V8.33337C16.6666 7.41671 15.9166 6.66671 14.9999 6.66671ZM9.99992 14.1667C9.08325 14.1667 8.33325 13.4167 8.33325 12.5C8.33325 11.5834 9.08325 10.8334 9.99992 10.8334C10.9166 10.8334 11.6666 11.5834 11.6666 12.5C11.6666 13.4167 10.9166 14.1667 9.99992 14.1667ZM12.5833 6.66671H7.41658V5.00004C7.41658 3.57504 8.57492 2.41671 9.99992 2.41671C11.4249 2.41671 12.5833 3.57504 12.5833 5.00004V6.66671Z" fill="#A5B0C1"/>
                                        </svg>
                                        Esta pergunta é anônima
                                    </div>
                                    <button class="btn">
                                        Enviar
                                    </button>
                                </div>
                            </form>
                    </section>
                    
                    <section class="group-questions">

                        <% if(isNotHaveQuestions){ %>

                            <%- include('partials/no-questions') %>

                        <% } %>

                        <!-- Loop questions no read -->
                        <% questionsNoRead.forEach(questionNoRead => { %>

                            <div class="question">
                                <div class="content-question">
                                    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                                            <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p><%= questionNoRead.content_question %></p>
                                </div>
                                <div class="group-btns-actions">
                                    <a href="#" class="btn-verified-read" data-id="<%= questionNoRead.id %>">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M20 6L9 17L4 12" stroke="#3485FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        Marcar como lida
                                    </a>
                                    <a href="#" class="btn-delete-question" data-id="<%= questionNoRead.id %>">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 6H5H21" stroke="#E83F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#E83F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        Excluir
                                    </a>
                                </div>
                            </div>

                        <% }) %>


                        <% questionsRead.forEach(questionRead => {%>
                        
                            <div class="question question-read">
                                <div class="content-question">
                                    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="26" cy="26" r="26" fill="#3485FF"/>
                                            <path d="M34 35V33C34 31.9391 33.5786 30.9217 32.8284 30.1716C32.0783 29.4214 31.0609 29 30 29H22C20.9391 29 19.9217 29.4214 19.1716 30.1716C18.4214 30.9217 18 31.9391 18 33V35" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M26 25C28.2091 25 30 23.2091 30 21C30 18.7909 28.2091 17 26 17C23.7909 17 22 18.7909 22 21C22 23.2091 23.7909 25 26 25Z" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                    <p><%= questionRead.content_question %></p>
                                </div>
                                <div class="group-btns-actions">
                                    <a href="#" class="btn-delete-question" data-id="<%= questionRead.id %>">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3 6H5H21" stroke="#E83F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#E83F5B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                        Excluir
                                    </a>
                                </div>
                            </div>

                        <% }) %>
                    </section>

                </div>
            </main>
        </div>

        <section class="modal-wrapper">
            <div class="modal">
                <h2>Excluir pergunta</h2>
                <p>Tem certeza que você deseja excluir esta pergunta?</p>
                <form action="" method="post">
                    <label for="password" class="sr-only">Insira a sua senha</label>
                    <input type="password" name="password" id="password" class="input-modal input-red" placeholder="Digite sua senha">
                    <div class="group-btns-modal">
                        <button class="btn btn-cancel btn-gray" type="button">
                            Cancelar
                        </button>
                        <button class="btn btn-delete-confirm btn-red">
                            Sim, excluir
                        </button>
                    </div>
                </form>
            </div>
        </section>

    </body>
</html>